<!-- Start Main Banner Area -->
<div class="main-banner-area">
    <div class="container">
        <div class="listings-slides">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let Content of businessDetailsList;">
                    <div class="single-listings-box">
                        <div class="listings-image">
                            <div class="listings-image-slides">
                                <owl-carousel-o [options]="customOptions2">
                                    <ng-template carouselSlide *ngFor="let Image of Content.uploadedFilesName;;">
                                        <div class="single-image">
                                            <img [src]="Image" alt="image" style="height: 260px;">
                                            <!-- <a routerLink="/{{Content.detailsLink}}" class="link-btn"></a> -->
                                            <a  class="link-btn"></a>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </div>
                            <a  class="bookmark-save"><i class="flaticon-heart"></i></a>
                            <!-- <a routerLink="/{{Content.categoryLink}}" class="category"><i class="flaticon-cooking"></i></a> -->
                            <a class="category"><i class="flaticon-cooking"></i></a>
                        </div>
                        <div class="listings-content">
                            <div class="author">
                                <div class="d-flex align-items-center">
                                    <!-- <img [src]="Content.authorImg" alt="image" > -->
                                    <!-- <span>{{Content.authorName}}</span> -->
                                    <span>Salman</span>

                                </div>
                            </div>
                            <div class="author-2">

                                <div class="d-flex align-items-center">
                
                                  <img
                
                                  [src]="(Content.LOGO_PICTURE && Content.LOGO_PICTURE.trim() !== '') ? Content.LOGO_PICTURE : 'assets/images/no-avatar.png'"                
                                    alt="image"
                
                                    class="profile-img"
                
                                    (click)="openPopup(Content.LOGO_PICTURE)"
                
                                  />
                
                                </div>
                
                              </div>
                            <ul class="listings-meta">
                                <li><a routerLink="/single-listings"><i class="flaticon-furniture-and-household"></i> {{Content.BUSINESS_CATEGORY}}</a></li>

                                <!-- <li><a routerLink="/{{Content.categoryLink}}"><i class="flaticon-furniture-and-household"></i> {{Content.BUSINESS_CATEGORY}}</a></li> -->
                                <li><i class="flaticon-pin"></i> {{Content.BUSINESS_ADDRESS}}</li>
                            </ul>
                            <h3><a (click)="selectBusiness(Content)">{{Content.BUSINESS_NAME}}</a></h3>
                            
                            <button class="follow-btn mb-3" 
                            (click)="isPublicUser == true ? userToken() : followBusiness(Content.BUSINESS_DETAIL_ID)"
                            >
                                {{ Content.IsFollow ? 'Following' : 'Follow' }}

                            </button>

                            <!-- <h3><a routerLink="/{{Content.detailsLink}}">{{Content.BUSINESS_NAME}}</a></h3> -->
                            <span class="status {{'status-open'}}"><i class="flaticon-save"></i> Open Now</span>
                            <!-- <span class="status {{Content.extraClass}}"><i class="flaticon-save"></i> {{Content.openORclose}}</span> -->
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="rating">
                                    <!-- <i class='{{Star.icon}}' *ngFor="let Star of Content.rating;"></i>
                                    <span class="count">({{Content.ratingCount}})</span> -->
                                    <!-- <i class='{{Star.icon}}' *ngFor="let Star of Content.rating;"></i> -->
                                    <span *ngFor="let star of [].constructor(Content.fullStars)" class="bx bxs-star full-star"></span>

                                    <!-- Half Star (if any) -->
                                    <span *ngIf="Content.halfStar" class="bx bxs-star-half full-star"></span>

                                    <!-- Empty Stars -->
                                    <span *ngFor="let star of [].constructor(Content.emptyStars)" class="bx bxs-star empty-star"></span>
                                    <!-- <span class="count">({{Content.ratingCount}})</span> -->
                                </div>
                                <div class="price">
                                    <!-- {{Content.price}} -->
                                    200

                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->

<div

  class="popup-overlay"

  [ngClass]="{ visible: isPopupVisible }"

  (click)="closePopup()"

>

  <div class="popup" [ngClass]="{ visible: isPopupVisible }">

    <span class="close-btn" (click)="closePopup()">&times;</span>

    <img src="{{selectedImagePath}}" alt="image" class="popup-img" />

  </div>

</div>