<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>
    <div class="spinner-overlay" *ngIf="isLoading">
        <div class="spinner"></div>
      </div>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="add-listings-box">
        <h3>Basic Informations</h3>    
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-briefcase-alt'></i> Business Name:
                        <span style="color: red;"> *</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Name of your business" 
                    [(ngModel)]="businessDetail.BUSINESS_NAME" name="BUSINESS_NAME"
                    >
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class="bi bi-envelope"></i> Email
                        <span style="color: red;"> *</span>
                    </label>
                    <input type="email" class="form-control" placeholder="Enter your email"
                    [(ngModel)]="businessDetail.EMAIL_ADDRESS" name="EMAIL_ADDRESS"
                    >
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class="bi bi-pass"></i> Password</label>
                    <input type="password" class="form-control" placeholder="Enter your password"
                    [(ngModel)]="businessDetail.PASSWORD" name="PASSWORD"
                    >
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class="bi bi-calendar2-event"></i> Hours</label>
                    <input type="number" class="form-control" placeholder="Enter your email"
                    [(ngModel)]="businessDetail.BUSINESS_HOURS" name="BUSINESS_HOURS"
                    >
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class="bi bi-bricks"></i> City
                        <span style="color: red;"> *</span>
                    </label>
                    <input type="text" class="form-control" placeholder="Enter your city"
                    [(ngModel)]="businessDetail.BUSINESS_CITY" name="BUSINESS_CITY"
                    >
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-menu-alt-left'></i> Address:
                        <span style="color: red;"> *</span>
                    </label>
                    <input type="text" class="form-control" placeholder="e.g. 55 County Laois"
                    [(ngModel)]="businessDetail.BUSINESS_ADDRESS" name="BUSINESS_ADDRESS"
                    >
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-menu-alt-left'></i> Date & Time</label>
                    <input type="date" class="form-control" placeholder="e.g. 55 County Laois"
                    
                    >
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-duplicate'></i> All Category
                        <span style="color: red;"> *</span>
                    </label>
                    <select  [(ngModel)]="businessDetail.BUSINESS_CATEGORY">
                        <option>Select Category</option>
                        <option>Agency</option>
                        <option>Home Services</option>
                        <option>Restaurants</option>
                        <option>Car Service</option>
                        <option>Others (submit request for other category)</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-duplicate'></i>Social media accounts</label>
                    <select [(ngModel)]="businessDetail.BUSINESS_CATEGORY_TYPE">
                        <option>Select social-media accounts</option>
                        <option>Facebook</option>
                        <option>Twitter</option>
                        <option>Snapchat</option>
                        <option>Tiktok</option>
                        <option>Linkedin</option>
                    </select>
                </div>
            </div>
        </div>


         <div class="modal fade" id="message_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="box-shadow: 5px 5px #16f5f5; border: 1px solid #96e3e3;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Select Images to Delete 
                            <span *ngIf="businessDetail.BusinessFilesDetail.length > 0"> ({{ selectedImages.size }} selected)</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hideImagePopup()"></button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteImagesForm">
                            <div *ngIf="businessDetail.BusinessFilesDetail.length > 0; else noImages">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-4 mb-3" *ngFor="let image of businessDetail.BusinessFilesDetail;">
                                        <div class="image-card">
                                            <img [src]="image.FILE_PATH" class="card-img-top" alt="'image'">
                                            <input type="checkbox" class="image-checkbox" id="imageCheckbox{{image.BUSINESS_FILES_DTEAIL_ID}}" (change)="toggleSelection(image.BUSINESS_FILES_DTEAIL_ID)">
                                            <label for="imageCheckbox{{image.BUSINESS_FILES_DTEAIL_ID}}" class="image-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div *ngIf="images.length > 0; else noImages">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-4 mb-3" *ngFor="let image of images">
                                        <div class="image-card">
                                            <img [src]="image.src" class="card-img-top" alt="{{image.alt}}">
                                            <input type="checkbox" class="image-checkbox" id="imageCheckbox{{image.id}}" (change)="toggleSelection(image.id)">
                                            <label for="imageCheckbox{{image.id}}" class="image-label"></label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <ng-template #noImages>
                                <p>No images are left.</p>
                            </ng-template>
                        </form>
                    </div>
                    <div class="modal-footer" *ngIf="businessDetail.BusinessFilesDetail.length > 0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="hideImagePopup()">Close</button>
                        <button type="button" class="btn btn-danger" (click)="deleteSelectedRecord()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="add-listings-box">
        <h3>Opening Hours</h3>

        <div class="row opening-day align-items-center">
            <div class="col-lg-2 col-md-12">
                <h5>Monday</h5>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.MONDAY_OPENING_TIME">
                    <option value="" disabled selected>Select closing time</option>
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.MONDAY_CLOSING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>
        </div>

        <div class="row opening-day align-items-center">
            <div class="col-lg-2 col-md-12">
                <h5>Tuesday</h5>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.TUESDAY_OPENING_TIME ">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.TUESDAY_CLOSING_TIME ">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>
        </div>

        <div class="row opening-day align-items-center">
            <div class="col-lg-2 col-md-12">
                <h5>Wednesday</h5>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.WEDNESDAY_OPENING_TIME ">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.WEDNESDAY_CLOSING_TIME ">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>
        </div>

        <div class="row opening-day align-items-center">
            <div class="col-lg-2 col-md-12">
                <h5>Thursday</h5>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.THURSDAY_OPENING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.THURSDAY_CLOSING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>
        </div>

        <div class="row opening-day align-items-center">
            <div class="col-lg-2 col-md-12">
                <h5>Friday</h5>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.FRIDAY_OPENING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.FRIDAY_CLOSING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>
        </div>

        <div class="row opening-day align-items-center">
            <div class="col-lg-2 col-md-12">
                <h5>Saturday</h5>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.SATURDAY_OPENING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.SATURDAY_CLOSING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>
        </div>

        <div class="row opening-day align-items-center">
            <div class="col-lg-2 col-md-12">
                <h5>Sunday</h5>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.SUNDAY_OPENING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>

            <div class="col-lg-5 col-md-6">
                <select [(ngModel)]="this.businessDetail.SUNDAY_CLOSING_TIME">
                    <option *ngFor="let slot of timeSlots" [value]="slot">{{ slot }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="add-listings-box">
        <h3>Gallery</h3>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#message_modal">To Preview Old Images</button>

    
        <!-- <div class="file-upload-box">
            <input type="file" name="" id="">
            <form action="/file-upload" class="dropzone"></form>
        </div> -->

        <div>
            <div class="col-md-12">
                <ol id="ol-uploadimg-imgname">
                    <li *ngFor="let fileName of uploadedFilesName; let ndx=index" [id]="'opt-uploadimg-imgname-'+ndx"><a [id]="'a-imgname-'+ndx" href="FoxDocumentDirectory\RequestForOrder\UploadImages\{{fileName}}"
                            target="_blank">{{fileName}}</a></li>
                </ol>
            </div>
            
            <div class="clearfix"></div>
            <!-- <form action="/upload" class="dropzone" id="p-uploadimg-dropzone">
            </form> -->

            <!-- <div class="listings-image">
                <div class="listings-image-slides">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let Image of businessDetail.uploadedFilesName;">
                            <div class="single-image">
                                <img [src]="Image" alt="image">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
                <a class="bookmark-save"><i class="flaticon-heart"></i></a>
                <a  class="category"><i class="flaticon-cooking"></i></a>
            </div> -->
            
            <dropzone id="p-uploadimg-dropzone" [config]="config" [message]="'Click or Drag Images and Documents here to upload (.pdf, .png, .jpg/.jpeg, .tif/.tiff, .bmp)'" (maxFilesExceeded)="onMaxFilesExceeded()"
    (maxFilesReached)="onMaxFilesReached()" (removedFile)="onRemoveFile($event)" (error)="onUploadError($event)"
    (success)="onUploadSuccess($event)" (canceled)="onCanceled($event)"></dropzone>
        </div>
    </div>

    <div class="add-listings-box">
        <h3>Details</h3>
    
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-text'></i> Description:
                        <span style="color: red;"> *</span>
                    </label>
                    <textarea cols="30" rows="7" class="form-control" placeholder="Details..."
                    [(ngModel)]="businessDetail.BUSINESS_IMPORTANT_NOTES" name="BUSINESS_IMPORTANT_NOTES"
                    ></textarea>
                </div>
            </div>
        </div>
    </div>   
    <div class="add-listings-btn">
        <button type="submit" (click)="addUpdateBusiness()">Edit Listings</button>
    </div>
    <!-- End -->

    <div class="modal fade" id="send_message_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
           <div class="modal-header">
               <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
               <div class="send">
                   <div class="search_person">
                       <p>Are you sure want to delete the record.</p>
                   </div>
               </div>
           </div>
           <div class="modal-footer">
               <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">No</button>
               <button class="btn btn-primary" (click)="deleteSelectedRecord()"  data-bs-dismiss="modal" aria-label="Close">Yes</button>
           </div>
       </div>
   </div>
</div>

    <div class="flex-grow-1"></div>   
    <!-- <app-copyrights></app-copyrights> -->

</div>
<!-- End Main Content Wrapper Area -->