<!-- Start Blog Area -->
<section class="blog-area with-events pb-100">
    <div class="container">


        <div class="blog-item-list">
            <h2>Xploradoor Recent Activities</h2>

        </div>
        <owl-carousel-o #carousel [options]="blogSlides">
            <ng-container *ngFor="let Content of businessBlogDetailsList; let i = index">
                <ng-template carouselSlide>
                    <div class="item_s">
                        <div class="single-blog-post">
                            <div class="post-image">
                                <a  class="d-block">
                                    <img [src]="Content.uploadedFilesName[0]" alt="image">
                                </a>
                            </div>
                            <!-- <div class="listings-image">
                            <div class="listings-image-slides">
                                <owl-carousel-o [options]="customOptions2">
                                    <ng-template carouselSlide *ngFor="let Image of Content.uploadedFilesName;;">
                                        <div class="single-image">
                                            <img [src]="Image" alt="image" style="height: 260px;">
                                            <a  class="link-btn"></a>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </div>
                            <a  class="bookmark-save"><i class="flaticon-heart"></i></a>
                            <a class="category"><i class="flaticon-cooking"></i></a>
                        </div> -->

                        
                            <div class="post-content">
                                <ul class="post-meta d-flex align-items-center">
                                    <li>
                                        <div class="d-flex align-items-center">
                                            <!-- <img [src]="Content.authorImg" alt="image"> -->
                                            <span
                                                style="color: white;">{{Content.AUTHOR_NAME}}</span>
                                        </div>
                                    </li>
                                    <li style="color: white;"><i class="flaticon-calendar"></i>
                                        <!-- {{Content.date}} -->
                                    </li>
                                </ul>
                                <h3><a routerLink="/blog-details"
                                        style="color: white;"
                                        (click)="selectedBlog(Content.BUSINESS_BLOG_ID)"
                                        >{{Content.BLOG_TITLE}}</a>
                                </h3>
                                <a class="link-btn"><i
                                        class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            <!-- <ng-container *ngFor="let Content of singleBlogPost; let i = index">
                <ng-template carouselSlide>
                    <div class="item_s">
                        <div class="single-blog-post">
                            <div class="post-image">
                                <a  class="d-block">
                                    <img [src]="Content.mainImg" alt="image">
                                </a>
                            </div>
                            <div class="post-content">
                                <ul class="post-meta d-flex align-items-center">
                                    <li>
                                        <div class="d-flex align-items-center">
                                            <img [src]="Content.authorImg" alt="image">
                                            <span
                                                style="color: white;">{{Content.authorName}}</span>
                                        </div>
                                    </li>
                                    <li style="color: white;"><i class="flaticon-calendar"></i>
                                        {{Content.date}}
                                    </li>
                                </ul>
                                <h3><a routerLink="/{{Content.link}}"
                                        style="color: white;">{{Content.title}}</a>
                                </h3>
                                <a routerLink="/{{Content.link}}" class="link-btn"><i
                                        class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container> -->
        </owl-carousel-o>

        <div class="blog-item-list">
            <h2>Subscription</h2>

        </div>
        <div class="subscription-container">
            <div class="subscription-card basic">
              <h3>Basic</h3>
              <p class="price">$10/month</p>
              <ul class="features">
                <li>UNLIMITED POSTS</li>
                <li>UNLIMITED LISTINGS</li>
                <li>CCESS TO SEE YOUR REVIEWS</li>
                <li>INVITATIONS TO EVENTS</li>
              </ul>
              <button class="subscribe-btn" (click)="SubscribePlan('Basic')">Subscribe</button>
            </div>
          
            <div class="subscription-card enterprise">
              <h3>Enterprise</h3>
              <p class="price">$50/month (10% off)</p>
              <ul class="features">
                    <li>STANDARD</li>
                    <li>
                      <span>XPLORADOOR BLOG</span>
                      <ul>
                        <li>XPLORADOOR REVIEW</li>
                        <li>ADVERTISE YOUR ADVERTISEMENT ON XPLORADOOR</li>
                        <li>
                          DON'T HAVE AN ADVERTISEMENT,
                          <a href="#">PURCHASE HERE</a>
                        </li>
                      </ul>
                      <span>EMAIL MARKETING</span>
                      <ul>
                        <li>
                            VIDEO TO BE PLAYED ON PROFILE SLIDESHOW (AUTOMATIC START)
                        </li>
                      </ul>
                    </li>
              </ul>
              <button class="subscribe-btn" (click)="SubscribePlan('Enterprise')">Subscribe</button>
            </div>
          
            <div class="subscription-card premium">
              <h3>Premium</h3>
              <p class="price">$100/month</p>
              <ul class="features">
                    <li>XPLORER (STANDARD AND BASIC INCLUDED)</li>
                    <li>
                      <span>ADVERTISEMENTS</span>
                      <ul>
                        <li>CAMPAIGNS</li>
                        <li>XPOLORADOORS SOCIAL MEDIA</li>
                        <li>WEBPAGE</li>
                        <li>NOTIFICATION</li>  
                      </ul>
                    </li>
                    <li>
                      <span>VIDEO PROMO</span>
                      <ul>
                        <!-- <li>TIKTOK</li>
                        <li>INSTA REEL</li>
                        <li>FACEBOOK</li> -->
                        <li>STORY</li>
                      </ul>
                    </li>
                    <li>MONTHLY ASSESSMENTS/ANALYTICS</li>
                    <li>EMAIL MARKETING</li>
              </ul>
              <button class="subscribe-btn" (click)="SubscribePlan('Premium')">Subscribe</button>
            </div>
          </div>
          

    </div>
</section>
<!-- End Blog Area -->